# Spotify Client
SPOTIFY_CLIENT_ID =
SPOTIFY_CLIENT_SECRET =
 
# Last.fm Client
LASTFM_API_KEY =
LASTFM_SECRET =

# PostgreSQL Database
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
CHAT_DB_NAME=

TEST_DB_HOST=
TEST_DB_USER=
TEST_DB_PASSWORD=
TEST_DB_NAME=
TEST_DB_PORT=
TEST_CHAT_DB_NAME=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# RabbitMQ
RABBITMQ_HOST=

# WebSocket
WS_HOST=
WS_PORT=

# Cassandra
CASSANDRA_HOST=
CASSANDRA_PORT=

# gRPC
GRPC_HOST=
GRPC_PORT=
MUSIC_SERVICE_ADDR=

MQTT_USERNAME=
MQTT_PASSWORD=

TUNNEL_TOKEN=
