serviceAccount.json
__pycache__/
*.pyc
.env
.venv
/database/musicbrainz-server
/database/musicbrainz
/db-init/init.sql
/chat/services
/certs/origin.crt
/certs/origin.key
/certs/origin.csr
mosquitto/config/passwd
mosquitto/logs/mosquitto.log